html {
    font-family: 'Dancing Script', cursive;
}

body {
    height: 100vh;
    min-width: 34rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.7) 0%, rgba(255, 68, 204, 0.7) 100%, rgba(0, 212, 255, 0.7) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

h1 {
    margin-top: 1rem;
    font-size: 3rem;
    border-bottom: 1px solid black;
}

.score-counter {
    margin-top: 1rem;
    background-color: hsl(340, 57%, 40%);
    padding: 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    -webkit-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 1);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: fit-content;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.tile {
    height: 4rem;
    width: 4rem;
    background-size: cover;
    cursor: grab;
    transition: transform 300ms ease-in-out;
}

.tile:hover {
    transform: scale(1.2);
}

.game-over-msg {
    position: absolute;
    width: 28%;
    top: 40%;
    text-align: center;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 10px;
    padding: 5rem;
    font-size: 4rem;
}